{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 140,
    "useTabs": true,
    "tabWidth": 3,
    "proseWrap": "always",
    "bracketSameLine": false,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": ["prettier-plugin-tailwindcss"]
}
